<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users of website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <div id="users_table" class="mx-auto justify-content-center text-center col-4">
        <h1>Users</h1>
        <table class="mx-auto text-center table bg-info">
            <thead>
                <th class="text-light col-2">First name</th>
                <th class="text-light col-2">Last name</th>
                <th class="text-light col-2">age</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for i in range(0, users|length) %}
                <tr>
                    <td class="text-light col-2">{{users[i].first_name}}</td>
                    <td class="text-light col-2">{{users[i].last_name}}</td>
                    <td class="text-light col-2">{{users[i].age}}</td>
                    <td class="text-light col-1">
                        <a class="text-light" href="/users/update/edit/{{users[i].id}}/{{users[i].first_name}}/{{users[i].last_name}}/{{users[i].age}}">update</a>
                    </td>
                    <td class="text-light col-1">
                        <a class="text-light" href="/users/delete/{{ users[i].id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">
            <button class="bg-info text-light border-info">Home</button>
        </a>
    </div>
</body>
</html>